.navbar-brand {
    font-weight: 900;

}

.title {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 0;
    color: rgba(37, 34, 34, 0.55);
}

.header li {
    font-weight: 700;
    font-size: 14px;

}

@media (max-width: 420px) {
    .navbar-brand h1 {
        display: none;
    }
}