.breadcrumb {
    font-size: 12px;
    justify-content: center;
}

.footer {
    font-size: 12px;
    margin-left: 130px;
}

a.footer:active,
a.footer:hover,
a.footer {
    text-decoration: none;
    color: #6c757d;
}