.breadcrumb {
    margin-top: 10px;
    font-size: 12px;
    justify-content: left;
}

.footer {
    font-size: 12px;
}

a.footer:active,
a.footer:hover,
a.footer {
    text-decoration: none;
    color: #6c757d;
}